.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.video {
  width: 65%;
  height: auto;
}
